.header-navigator__link{
  font-weight: 700;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.923077px;
color: #83888F;
}
.header__logo__img{
  max-width: 325px;
}
.header-box{
  @include flex;
  justify-content: space-between;
  padding: 44px 80px;

} 
.header_navigator__box{
  @include flex;
}
.header-navigator_text + .header-navigator_text{
  margin-left: 33px;
}
.site-header{
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #F2F2F2;
 z-index: 100;
}
@media screen and (max-width:970px) {
  .header-box{
    padding: 44px 30px;
  }
}
@media screen and (max-width:780px) {
  .header-box{
    padding: 44px 25px;
    position: relative;
  }
.header-navigator{
  background-image: url(../../img/header-menu.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
  margin-top: 10px;

}
.header__logo__img{
    max-width: 238px;
  }
}
@media screen and (max-width:460px) {
  .header__logo__img{
    max-width: 163px;
  }
}
